http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3390/rs11192326
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,10,7]],"date-time":"2019-10-07T08:10:40Z","timestamp":1570435840507},"reference-count":101,"publisher":"MDPI
        AG","issue":"19","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2019,10,6]],"date-time":"2019-10-06T00:00:00Z","timestamp":1570320000000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"DOI":"10.13039\/100006445","name":"Center
        for Hierarchical Manufacturing, National Science Foundation","doi-asserted-by":"publisher","award":["EF-1065826","EF-1550653","EF-1550640","EF-1065864"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Remote
        Sensing"],"abstract":"<jats:p>In this study, we automate tree species classification
        and mapping using field-based training data, high spatial resolution airborne
        hyperspectral imagery, and a convolutional neural network classifier (CNN).
        We tested our methods by identifying seven dominant trees species as well
        as dead standing trees in a mixed-conifer forest in the Southern Sierra Nevada
        Mountains, CA (USA) using training, validation, and testing datasets composed
        of spatially[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.3390/rs10010039
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,10,19]],"date-time":"2019-10-19T00:43:36Z","timestamp":1571445816512},"reference-count":47,"publisher":"MDPI
        AG","issue":"2","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,12,26]],"date-time":"2017-12-26T00:00:00Z","timestamp":1514246400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Remote
        Sensing"],"DOI":"10.3390\/rs10010039","type":"journal-article","created":{"date-parts":[[2017,12,26]],"date-time":"2017-12-26T16:13:23Z","timestamp":1514304803000},"page":"39","source":"Crossref","is-referenced-by-count":9,"title":["Bayesian
        and Classical Machine Learning Methods: A Comparison for Tree Species Classification
        with LiDAR Waveform Signatures"],"prefix":"10.3390","volume":"10","author":[{"given":"Tan","family":"Zhou","sequence":"first","affiliation":[]},{"given":"Sorin","family":"Popescu","sequence":"additional","affiliation":[]},{"given":"A.","family":"Lawing","sequence":"additional","affiliation":[]},{"given":"Marian","family":"Eriksson","sequence":"additional","affiliation":[]},{"given":"Bogdan","family":"Strimbu","sequence":"additional","affiliation":[]},{"given":"Paul","family":"B\u00fcrkner","sequence":"additional","affiliation":[]}],"member":"1968","published-online":{"date-parts":[[2017,12,26]]},"reference":[{"key":"ref1","DOI":"10.1016\/S0034-4257(99)00098-X","doi-asserted-by":"publisher"},{"key":"ref2","DOI":"10.1016\/j.rse.2004.12.016","doi-asserted-by":"publisher"},{"key":"ref3","DOI":"10.1016\/j.jag.2010.09.010","doi-asserted-by":"publisher"},{"key":"ref4","DOI":"10.1016\/S0034-4257(03)00140-8","doi-asserted-by":"publisher"},{"key":"ref5","DOI":"10.1080\/01431160701736448","doi-asserted-by":"publisher"},{"key":"ref6","DOI":"10.14358\/PERS.78.1.75","doi-asserted-by":"publisher"},{"key":"ref7","DOI":"10.14358\/PERS.70.5.589","doi-asserted-by":"publisher"},{"key":"ref8","DOI":"10.14358\/PERS.72.4.357","doi-asserted-by":"publisher"},{"key":"ref9","DOI":"10.1016\/j.jag.2013.05.017","doi-asserted-by":"publisher"},{"key":"ref10","DOI":"10.1016\/S0168-1699(02)00121-7","doi-asserted-by":"publisher"},{"key":"ref11","DOI":"10.14358\/PERS.72.8.923","doi-asserted-by":"publisher"},{"key":"ref12","first-page":"W13","article-title":"Clustering
        in airborne laser scanning raw data for segmentation of single trees","volume":"34","author":"Morsdorf","year":"2003","journal-title":"Int.
        Arch. Photogramm. Remote Sens. Spat. Inf. Sci."},{"key":"ref13","first-page":"45","article-title":"Lidar
        point cloud based fully automatic 3d single tree modelling in forest and evaluations
        of the procedure","volume":"37","author":"Wang","year":"2008","journal-title":"Int.
        Arch. Photogramm. Remote Sens. Spat. Inf. Sci."},{"key":"ref14","DOI":"10.1093\/forestry\/cpr051","doi-asserted-by":"publisher"},{"key":"ref15","DOI":"10.3390\/rs4040950","doi-asserted-by":"publisher"},{"key":"ref16"},{"key":"ref17","DOI":"10.3390\/rs4020377","doi-asserted-by":"publisher"},{"key":"ref18","DOI":"10.1016\/j.rse.2012.03.027","doi-asserted-by":"publisher"},{"key":"ref19","DOI":"10.3390\/f5051011","doi-asserted-by":"publisher"},{"key":"ref20","DOI":"10.1029\/2005GL023471","doi-asserted-by":"publisher"},{"key":"ref21","DOI":"10.1016\/S0034-4257(01)00281-4","doi-asserted-by":"publisher"},{"key":"ref22","DOI":"10.1071\/WF13086","doi-asserted-by":"publisher"},{"key":"ref23","DOI":"10.1016\/j.jag.2016.01.007","doi-asserted-by":"publisher"},{"key":"ref24","DOI":"10.1016\/j.rse.2011.04.001","doi-asserted-by":"publisher"},{"key":"ref25","DOI":"10.1016\/j.isprsjprs.2016.01.011","doi-asserted-by":"publisher"},{"key":"ref26","DOI":"10.1186\/1471-2105-8-25","doi-asserted-by":"publisher"},{"key":"ref27","author":"Strobl","year":"2009","series-title":"Party
        on! A New, Conditional Variable Importance Measure for Random Forests Available
        in the Party Package"},{"key":"ref28","DOI":"10.1016\/j.jsr.2009.05.003","doi-asserted-by":"publisher"},{"key":"ref29","DOI":"10.1016\/j.ecoinf.2009.06.005","doi-asserted-by":"publisher"},{"key":"ref30","DOI":"10.1016\/j.rse.2017.08.012","doi-asserted-by":"publisher"},{"key":"ref31","DOI":"10.1080\/01431160701736414","doi-asserted-by":"publisher"},{"key":"ref32","DOI":"10.1016\/j.jag.2012.04.007","doi-asserted-by":"publisher"},{"key":"ref33","DOI":"10.1016\/j.rse.2016.04.014","doi-asserted-by":"publisher"},{"key":"ref34","DOI":"10.1016\/j.isprsjprs.2017.04.021","doi-asserted-by":"publisher"},{"key":"ref35","DOI":"10.1109\/JSTARS.2012.2211863","doi-asserted-by":"publisher"},{"key":"ref36","unstructured":"Lastools-Efficient
        Tools for Lidar Processinghttp:\/\/www.cs.unc.edu\/~isenburg\/lastools\/"},{"key":"ref37","DOI":"10.5589\/m03-027","doi-asserted-by":"publisher"},{"key":"ref38","year":"2013","series-title":"R:
        A Language and Environment for Statistical Computing"},{"key":"ref39","unstructured":"Foresttools:
        Analyzing Remotely Sensed Forest Datahttps:\/\/cran.r-project.org\/web\/packages\/ForestTools\/index.html"},{"key":"ref40","first-page":"433","article-title":"The
        morphological approach to segmentation: The watershed transformation","volume":"34","author":"Beucher","year":"1992","journal-title":"Opt.
        Eng. N. Y."},{"key":"ref41","DOI":"10.1023\/A:1010933404324","doi-asserted-by":"publisher"},{"key":"ref42","DOI":"10.17713\/ajs.v41i1.186","doi-asserted-by":"publisher"},{"key":"ref43","author":"Kruschke","year":"2014","series-title":"Doing
        Bayesian Data Analysis: A Tutorial with r, Jags and Stan"},{"key":"ref44","author":"Gelman","volume":"Volume
        2","year":"2014","series-title":"Bayesian Data Analysis"},{"key":"ref45","DOI":"10.18637\/jss.v080.i01","doi-asserted-by":"publisher"},{"key":"ref46","DOI":"10.3390\/rs70810017","doi-asserted-by":"publisher"},{"key":"ref47","unstructured":"Pick
        Your Flavor of Random Foresthttps:\/\/cran.r-project.org\/web\/packages\/ModelMap\/vignettes\/Vquantile.pdf"}],"container-title":["Remote
        Sensing"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/www.mdpi.com\/2072-4292\/10\/1\/39\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,2,22]],"date-time":"2018-02-22T18:01:57Z","timestamp":1519322517000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2017,12,26]]},"references-count":47,"journal-issue":{"published-online":{"date-parts":[[2018,2]]},"issue":"2"},"alternative-id":["rs10010039"],"URL":"http:\/\/dx.doi.org\/10.3390\/rs10010039","relation":{"cites":[]},"ISSN":["2072-4292"],"issn-type":[{"value":"2072-4292","type":"electronic"}]}}'
  recorded_at: 2019-10-26 03:34:09 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.6101
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1117/1.JRS.9.095990
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,2,15]],"date-time":"2019-02-15T13:09:02Z","timestamp":1550236142602},"reference-count":0,"publisher":"SPIE-Intl
        Soc Optical Eng","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Appl. Remote Sens"],"published-print":{"date-parts":[[2015,11,5]]},"DOI":"10.1117\/1.jrs.9.095990","type":"journal-article","created":{"date-parts":[[2015,11,5]],"date-time":"2015-11-05T11:30:33Z","timestamp":1446723033000},"page":"095990","source":"Crossref","is-referenced-by-count":4,"title":["Impact
        of atmospheric correction and image filtering on hyperspectral classification
        of tree species using support vector machine"],"prefix":"10.1117","volume":"9","author":[{"given":"Morteza","family":"Shahriari
        Nia"[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.isprsjprs.2018.08.012
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.7717/peerj.5666
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,2,18]],"date-time":"2019-02-18T18:12:10Z","timestamp":1550513530272},"reference-count":53,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2018,10,8]],"date-time":"2018-10-08T00:00:00Z","timestamp":1538956800000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:sec>\n<jats:title>Background<\/jats:title>\n<jats:p>Biogeographers
        assess how species distributions and abundances affect the structure, function,
        and composition of ecosystems. Yet we face a major challenge: it is difficult
        to precisely map species across landscapes. Novel Earth observations could
        overcome this challenge for vegetation mapping. Airborne imaging spectrometers
        measure plant functional traits at high resolution, and these measurements
        can be used to i[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1109/WHISPERS.2016.8071800
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,2,18]],"date-time":"2019-02-18T16:21:00Z","timestamp":1550506860940},"reference-count":15,"publisher":"IEEE","isbn-type":[{"value":"9781509006083","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2016,8]]},"DOI":"10.1109\/whispers.2016.8071800","type":"proceedings-article","created":{"date-parts":[[2017,10,25]],"date-time":"2017-10-25T19:27:59Z","timestamp":1508959679000},"source":"Crossref","is-referenced-by-count":0,"title":["Multitask
        learning of vegetation biochemistry from hyperspectral data"],"prefix":"10.1109","author":[{"given":"Utsav
        B.","family":"Gewali","sequence":"first","affiliation":[]},{"given":"Sildomar
        T.","family":"Monteiro","sequence":"additional","affiliation":[]}],"member":"263","event":{"name":"2016
        8th Workshop on Hyperspectral Image and Signal Processing: Evolution in Remote
        Sensing (WHISPERS)","location":"Los Angeles, CA, USA","start":{"date-parts":[[2016,8,21]]},"end":{"date-parts":[[2016,8,24]]}},"container-title":["2016
        8th Workshop on Hyperspectral Image and Signal Processing: Evolution in Remote
        Sensing (WHISPERS)"],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx7\/8053879\/8071655\/08071800.pdf?arnumber=8071800","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,11,30]],"date-time":"2017-11-30T21:04:45Z","timestamp":1512075885000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,8]]},"ISBN":["9781509006083"],"references-count":15,"URL":"http:\/\/dx.doi.org\/10.1109\/whispers.2016.8071800","relation":{}}}'
  recorded_at: 2019-10-26 03:34:09 GMT
  recorded_with: vcr/0.3.0, webmockr/0.4.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.rse.2019.05.003
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
 [...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101/790071
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.2 crul/0.8.4 rOpenSci(rcrossref/0.9.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":{"name":"bioRxiv","place":["-"],"acronym":["-"]},"indexed":{"date-parts":[[2019,10,4]],"date-time":"2019-10-04T16:10:43Z","timestamp":1570205443014},"posted":{"date-parts":[[2019,10,2]]},"group-title":"Ecology","reference-count":31,"publisher":"Cold
        Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2019,10,2]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Tree
        detection is a fundamental task in remote sensing for forestry and ecosystem
        ecology applications. While many individual tree segmentation algorithms have
        been proposed, the development and testing of these algorithms is typically
        site specific, with few methods evaluated against data from multiple forest
        types simultaneously. This makes it difficult to determine the ge[...]
[...]
